/*==================== MEDIA QUERIES ====================*/
/* Small devices */
@media screen and (max-width: 400px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .nav {
    &__menu {
      padding: 2rem 0.25rem 4rem;
    }
    &__list {
      column-gap: 0;
    }
  }
}
/* Medium devices */
@media screen and (min-width: 568px) {
}
/* Medium larger devices */
@media screen and (min-width: 768px) {
  .header {
    top: 0;
    bottom: initial;
    padding: 0 1rem;
    position: inherit;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 1rem;
    &__icon,
    &__close,
    &__toggle {
      display: none;
    }
    &__list {
      display: flex;
      column-gap: 2rem;
    }
    &__menu {
      margin-left: auto;
    }
  }
}
/* Large devices */
@media screen and (min-width: 1024px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
  .flex {
    place-content: space-evenly;
  }
  .flex__column {
    flex-direction: row;
  }
  .grid-area {
    grid-template-areas: "a b";
  }
  .grid-item {
    display: grid;
  }
  .grid-item-a {
    display: grid;
    grid-area: a;
  }
  .grid-item-b {
    grid-area: b;
    display: grid;
  }
  .contact__ {
    &form {
      grid-template-columns: 1fr;
    }
  }
  .content__grid_clients {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
